.registration_form {
  display: flex;
  width: 80%;
  flex-direction: column;
  align-items: flex-start;
}
.registration_form h3 {
  color: var(--text-color);
  font-size: 20px;
  margin-bottom: 0;
}
.registration_form a {
  color: var(--text-color);
  font-size: 20px;
  margin-bottom: 0;
}
.registration_form button {
  width: 192px;
  cursor: pointer;
  padding: 10px 20px;
  background: #191c20;
  font-size: 20px;
  border-radius: 20px;
  border: none;
  margin-right: 30px;
}
.registration_form button:hover {
  background: var(--secondary-bg-color);
}
.registration_form input {
  width: 100%;
  font-size: 18px;
  padding: 12px 0;
  background-color: var(--main-bg-color);
  margin: 4px 0;
  border: none;
  color: var(--text-color-white);
  display: inline-block;
  border-bottom: 1px solid var(--text-color);
  outline: 0;
  box-sizing: border-box;
}
.registration_form input:focus {
  border-bottom: 1px solid var(--primary-color);
}
