@import url("https://fonts.googleapis.com/css?family=Lato:700|Roboto&display=swap");

:root {
  --main-bg-color: #22252a;
  --secondary-bg-color: #2d3035;
  --project-bg-color: #2f3237;
  --primary-color: #06a68b;
  --text-color: #5e6165;
  --text-color-white: #ffffff;

  --line-color: #313439;
  --font-header: "Lato";
  --font-text: "Roboto";
  --focus-button: #2f3237;
}
::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--text-color);
  opacity: 1; /* Firefox */
}
button {
  font-family: "Roboto";
  color: white;
}
body {
  background-color: var(--main-bg-color);
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: var(--text-color-white);
  margin: 0;
  padding: 0;
  font-size: 16px;
}
* {
  outline: none;
}
/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: white;
  -webkit-box-shadow: 0 0 0px 1000px #22252a inset;
  transition: background-color 5000s ease-in-out 0s;
}
