.container {
  display: flex;
  flex-direction: column;
  background-color: #2d3035;
}
.container svg {
  padding: 35px 45px;
}

.icon_active path {
  fill: #389bff;
}
.icon_desabled path {
  color: #5e6165;
}
.icon_normal path {
  color: #5e6165;
}

.sideBar {
  display: flex;
  flex-direction: column;
  background-color: #2d3035;
}
