.tab_button {
  cursor: pointer;
  padding: 8px 16px;
  border: 0;
  border-bottom: 2px solid transparent;
  background: none;
}
.tab_button.focus {
  border-right: 2px solid #007bef;
  background-color: #2f3237;
  outline: 0;
}
.tab_button:hover {
  border-right: 2px solid #007bef;
}

.tabmenu {
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: flex-start;
  background-color: #2d3035;
  width: 90px;
  height: 100%;
  margin-top: 72px;
}
.tabmenu button:last-child {
  margin-top: auto;
}
.wrapper {
  display: flex;
  flex-direction: row;
}
.tabview {
  margin: 130px 0px 0px 150px;
}
.tabview_item {
}
